.role-permission-dev{ display: inline-block; margin: .5em}
.pad-lr-1p5rem{ padding-left: 1.5rem; padding-right: 1.5rem;}
.btn:hover {
    transform: none !important;
    box-shadow: none !important;
}

.dropdown-menu{
    margin: 0 !important;
}
